.form_heading {
  text-align: center;
}
.btn {
  display: block;
  margin: 1rem auto;
}

.below_form {
  border-bottom: solid 2px rgb(71, 71, 141);
}

.error_text {
  color: rgb(245, 48, 48);
}

.top_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
